body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

html {
    height: 100%;
    /* max-height: 600px; */
    width: 1000px;
    background-color: hsla(200,40%,30%,.4);
    background-image:       
        url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
        url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
	background-attachment: fixed;
    background-position: 
        0 20%,
        0 100%,
        0 50%,
        0 100%,
        0 0;
    background-size: 
        2500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
    animation: 50s para infinite linear;
    }

@keyframes para {
    100% {
        background-position: 
            -5000px 20%,
            -800px 95%,
            500px 50%,
            1000px 100%,
            400px 0;
        }
    }

body {
	
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}


#container {
	width: 960px; margin: 0 auto;
}

#logo {
	margin: 10px auto 0 auto; position: relative; width: 183px;
}
ul#nav {
	width: 940px; list-style: none; overflow: hidden; margin: -134px auto 25px auto;
}
	ul#nav li {
		width: 126px; height: 33px; float: left; padding: 13px 0 0 0;
		background: url(images/nav-bg.png);
		font-weight: bold; text-align: center; text-transform: uppercase;
	}
		ul#nav li:nth-child(1) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(2) {
			margin: 0 316px 0 0;
		}
		ul#nav li:nth-child(3) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(4) {
			margin: 0;
		}

		ul#nav li a {
			color: #616369; text-decoration: none;
		}
			ul#nav li a:hover {
				color: #a12121;
			}
#header {
	height: 244px; padding: 52px 0 0 57px;
	background: url(images/home-header.jpg);
}

	#header h1 {
		font: 38px Georgia, Serif; color: #f2f0eb; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
	}
	#header h2 {
		width: 510px; font: 30px Georgia, Serif; color: #f2f0eb; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
	}
	#header p.btn a {
		display: block; width: 225px; height: 50px; overflow: hidden;
		background: url(images/home-header-btn.jpg); text-indent: -9999px;
	}
#content {
	background: url(images/content-bg.png) repeat-y;
	padding: 57px 69px 50px 69px; overflow: hidden;
}
	#content h2 {
		font: 30px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}

	#content h3 {
		font: 26px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}
	
	#content p {
		margin: 0 0 30px 0;
	}
	
	#content a {
		color: #a12121; text-decoration: none;
	}
		#content a:hover {
			color: #671111;
		}
	
#content .portfolio-item {
	width: 182px; padding: 4px; background: #eee; text-align: center;
	float: left; margin: 0 7px 14px 7px;
}
	#content .portfolio-item p.btn {
		margin: 0;
	}
	#content .portfolio-item p.btn a {
		display: block; width: 183px; height: 29px; padding: 7px 0 0 0;
		background: url(images/see-more-bg.png);
		font-weight: bold; text-align: center; text-transform: uppercase;
		text-decoration: none;
	}
#footer {
	background: url(images/footer-bg.png) no-repeat; padding: 40px 0 0 0;
	overflow: hidden; margin: 0 0 30px 0;
}
	#footer p#copyright {
		font-size: 12px; float: left; margin: 0 0 0 30px; color: #b8b6b2;
	}
	#footer p#back-top {
		font-size: 12px; float: right; margin: 0 30px 0 0;
	}
		#footer a {
		color: #a12121; text-decoration: none;
	}
		#footer a:hover {
			color: #671111;
		}
